<footer class="footer"> 
	<div class="container">
		<div class="footer__inner">
			<div class="footer__top">
				<a class="footer__logo" href="./"><img src="./images/logo-light.png" alt=""></a>
				<nav class="footer__menu">
					<a class="footer__menu-link" href="./articles.html">Статьи</a>
					<a class="footer__menu-link" href="./news.html">Новости</a>
					<a class="footer__menu-link" href="./questions.html">Вопросы</a>
					<a class="footer__menu-link" href="./learning.html">Обучение</a>
					<a class="footer__menu-link" href="./">Возможности</a>
					<a class="footer__menu-link" href="./">NFT</a>
					<a class="footer__menu-link" href="./">ICO</a>
					<a class="footer__menu-link" href="./">NFT игры</a>
				</nav>
				<div class="footer__social social">
					<a class="social__link social__link_tgm" href="./"></a>
					<a class="social__link social__link_vk" href="./"></a>
					<a class="social__link social__link_yout" href="./"></a>
					<a class="social__link social__link_yandex" href="./"></a>
				</div>
			</div>
			<div class="footer__bottom">
				<p>ProTraffic.com — твой путеводитель по арбитражу трафика. Все фишки и экспертный контент от практиков, актуальные новости и аналитика, обучающие видео и интервью с лидерами рынка. Лей в плюс с ProTraffic!</p>
			</div>
			<nav class="footer__menu-second">
				<a class="active" href="./">О нас</a>
				<a class="" href="./">Реклама и Партнерство</a>
				<a class="" href="./">Отказ от ответственности</a>
			</nav>
		</div>
	</div>
</footer> 

@@include("_popup.html")
@@include("_modals.html")

<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script> 
</body> 
</html> 
