<div class="card @@if(this.cls){@@cls}">
	@@if(this.img){<a class="card__image" href="./page.html"><img src="@@if(this.img){./images/stuff/@@img}" alt=""></a>}
	<div class="card__content">
		<div class="card__tags">
			<a href="./">Руководства</a>
		</div>
		<h3 class="card__title"><a href="./page.html">Домонетизация трафика через Propush.me: до +35% к профиту</a></h3>
		@@if(this.text){<p class="card__text">Ну подтверждают они право владения на что-то там, хотя это что-то может быть в тысячах копий. И что с того? Кому это нужно и зачем?</p>}
		<div class="card__bottom">
			<div class="card__since">5 часов назад</div>
			@@if(this.link){<a class="card__link" href="./">Желтый веб</a>}
			@@if(this.talk){<a class="card__talk" href="./">3 ответа</a>}
		</div>
	</div>
</div>
