<header class="header" data-scroll-lock-fill-gap> 
	<div class="header__inner">
		<a href="./" class="header__logo"></a>
		<div class="header__menu" data-scroll-lock-scrollable>
			<nav class="header__navi">
				<a class="header__navi-link" href="./articles.html">Статьи</a>
				<a class="header__navi-link" href="./news.html">Новости</a>
				<a class="header__navi-link" href="./questions.html">Вопросы</a>
				<a class="header__navi-link" href="./learning.html">Обучение</a>
				<a class="header__navi-link" href="./services.html">Возможности</a>
				<a class="header__navi-link" href="./services.html">NFT</a>
				<a class="header__navi-link" href="./services.html">ICO</a>
				<a class="header__navi-link" href="./services.html">NFT игры</a>
			</nav>
			<form class="header__search" action="./">
				<input type="submit" value="">
				<input type="text" placeholder="Поиск по сайту">
			</form>
			<button class="header__menu-close"></button>
			<a class="header__button-mobile button button_top" href="./">Топ товарная ПП</a>
		</div>
		<button class="header__search-toggle"></button>
		<a class="header__top-button button button_top" href="./">Топ товарная ПП</a>
		<a class="header__gohome" href="./search.html"></a>
		<button class="header__menu-toggle"></button>
	</div>
</header> 
