<div class="l-card @@if(this.cls){@@cls}">
	<a href="./" class="l-card__image"><img src="./images/stuff/@@img" alt=""></a>
	<div class="l-card__content">
		<div class="l-card__tags">
			<a href="./" class="l-card__tag">Арбитраж трафика</a>
			<a href="./" class="l-card__tag">Бизнес</a>
			<a href="./" class="l-card__tag">Вконтакте</a>
		</div>
		<h3 class="l-card__cap">Affiliate World Global 2022</h3>
		<p class="l-card__text">Внутри вы найдете четкие и простые инструкции, только работающие инструменты и готовый шаблон для того, чтобы ваш день прошел идеально. Даже если вы внедрите всего 20% из того, что найдете в Дневнике, ваша жизнь кардинально изменится.</p>
		<div class="l-card__bottom">
			<a class="l-card__button button button_grd" href="./">Подробнее</a>
		</div>
	</div>
</div>