<div class="q-card @@if(this.cls){@@cls}">
	<div class="q-card__tags"><a href="./">@@tag</a></div>
	<h3 class="q-card__title"><a href="./">Домонетизация трафика через Propush.me: до +35% к профиту</a></h3>
	<p class="q-card__text">Ну подтверждают они право владения на что-то там, хотя это что-то может быть в тысячах копий. И что с того? Кому это нужно и зачем? Ну подтверждают они право владения на что-то там, хотя это что-то может быть в тысячах копий. И что с того? Кому это нужно и зачем?</p>
	<div class="q-card__bottom">
		<a class="q-card__link" href="./">Желтый веб</a>
		<span class="q-card__since">5 часов назад</span>
		<div class="q-card__bottom-side">
			<a class="q-card__talk" href="./">3 ответа</a>
			@@if(this.closed) {
				<span class="q-card__status q-card__status_closed">Закрытый</span>
			} @@if(!this.closed) {
				<span class="q-card__status">Открытый</span>
			}
		</div>
	</div>
</div>