<div class="s-card @@if(this.cls){@@cls}">
	<a href="./" class="s-card__image"><img src="./images/stuff/@@img" alt=""></a>
	<div class="s-card__content">
		<div class="s-card__tags">
			<a href="./" class="s-card__tag">Арбитраж трафика</a>
			<a href="./" class="s-card__tag">Бизнес</a>
			<a href="./" class="s-card__tag">Вконтакте</a>
		</div>
		<h2 class="s-card__cap">Adipisicing elit molestias architecto.</h2>
		<p class="s-card__text">Внутри вы найдете четкие и простые инструкции, только работающие инструменты и готовый шаблон для того, чтобы ваш день прошел идеально. Даже если вы внедрите всего 20% из того, что найдете в Дневнике, ваша жизнь кардинально изменится.</p>
		<div class="s-card__bottom">
			<!-- <span class="s-card__since">5 минут назад</span> -->
			<a class="s-card__link" href="./">Подробнее</a>
		</div>
	</div>
</div>
