.breadcrumbs {
	$self: &;
	padding-top: 10px;
	margin-bottom: 30px;

	&__inner {
		display: flex;
		flex-flow: row wrap;

		a, span {
			font-size: 17px;
			line-height: 1.4;
			text-decoration: none;
			color: #000;
			
			&:not(:last-child) {
				margin-right: 8px;

				&::after {
					margin-left: 8px;
					content: '>';
				}
			}

			@include media('<=xs') {
				font-size: 15px;
			}

			@include media('<=lg') {
				// font-size: 16px;
			}
		}
	}
}
