.similar {
	$self: &;

	&__title {
		font-family: "MEB", sans-serif;
		line-height: 1.1;
		font-size: 32px;
		margin-bottom: 30px;
		
		@include media('<=lg') {
			font-size: 30px;
		}
		
		@include media('<=md') {
			font-size: 26px;
		}
		
		@include media('<=xxs') {
			font-size: 24px;
		}
	}

	&__items {
		display: flex;
		flex-flow: row wrap;
		margin: 0 -12px;
		
		@include media('<=xxlg') {
			margin: 0 -10px;
		}
	}

	&__item {
		box-sizing: border-box;
		margin: 0 12px 24px;
		width: calc(99.9% / 12 * 4 - 24px);
		
		@include media('<=xxlg') {
			width: calc(99.9% / 12 * 4 - 20px);
			margin: 0 10px 20px;
		}
		
		@include media('<=xlg') {
			width: calc(99.9% / 12 * 6 - 20px);
		}
		
		@include media('<=md') {
			width: calc(100% - 20px);
		}
		
		@include media('<=sm') {
			width: calc(99.9% / 12 * 6 - 20px);
		}
		
		@include media('<=xs') {
			max-width: 400px;
			width: calc(100% - 20px);
			margin: 0 auto 20px;
		}
	}
}
