.c-card {
	$self: &;
	display: flex;
	margin-bottom: 30px;

	@include media('<=xxs') {
		flex-wrap: wrap;
	}

	&__image {
		overflow: hidden;
		background-color: #E3E3E3;
		width: 100px;
		height: 100px;
		flex-shrink: 0;
		align-self: flex-start;
		border-radius: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 25px;

		@include media('<=xxs') {
			margin: 0 0 25px;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}

	&__name {
		font-family: "MB", sans-serif;
		font-size: 18px;
		margin-right: 30px;
	}
	
	&__date {
		font-family: "MSB", sans-serif;
		font-size: 16px;
		color: #8E8E8E;
	}
}
