.h-popular {
	$self: &;
	margin-bottom: 28px;

	&__title.title {
		margin-bottom: 30px;
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(3, 1fr) 305px;
		grid-template-rows: repeat(2, 1fr);
		margin: 0 -15px;
		
		@include media('<=xlg') {
			grid-template-columns: repeat(3, 1fr) 295px;

		}
		
		@include media('<=lg') {
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(2, 1fr) auto;
			margin: 0 -10px;
		}

		@include media('<=sm') {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, auto) auto;
		}

		@include media('<=xs') {
			display: block;
		}
	}

	&__card {
		box-sizing: border-box;
		margin: 0 15px 30px;

		&:nth-child(1) {
			grid-column: 1 / span 2;
			grid-row: 1 / span 2;
		}

		&:nth-child(3) {
			grid-row: 2 / span 1;
		}

		&:nth-child(4) {
			grid-row: 1 / span 2;
			max-height: 400px;
		}

		@include media('<=xlg') {
			margin: 0 10px 20px;
		}
		
		@include media('<=lg') {

			&:nth-child(1) {
				grid-column: 1 / span 7;
			}

			&:nth-child(2) {
				grid-column: span 5;
			}
			
			&:nth-child(3) {
				grid-column: span 5;
			}

			&:nth-child(4) {
				grid-column: 1 / -1 ;
				grid-row: 3 / span 1;
				width: 100%;
				max-width: 275px;
				margin: 0 auto 30px;
			}
		}

		@include media('<=sm') {
			&:nth-child(1) {
				grid-column: 1 / span 7;
				grid-row: 1 / span 1;
			}

			&:nth-child(2) {
				grid-column: 1 / span 1;
				grid-row: 2 / span 1;
			}
			
			&:nth-child(3) {
				grid-column: 2 / span 1;
				grid-row: 2 / span 1;
			}

			&:nth-child(4) {
				grid-column: 1 / -1 ;
				grid-row: 3 / span 1;
				width: 100%;
				margin: 0 auto 30px;
			}
		}

		@include media('<=xxs') {
			&:nth-child(4) {
				width: calc(100% - 20px);
				margin: 0 auto 30px;
			}
		}
	}
}
