.services {
	$self: &;

	&_onmain {
		margin-bottom: 80px;		
	}

	&__title.title {
		margin-bottom: 40px;
	}

	&__items {
		@include media('<=md') {
			margin-bottom: 40px;
		}
	}

	&__item {

	}

	&__pagination {

	}

	&__all-btn {
		display: none;

		@include media('<=md') {
			display: flex;
			margin: 0 auto;
		}
	}
}