.w-banner {
	$self: &;
	margin-bottom: 60px;
		
	@include media('<=xxs') {
		margin-bottom: 30px;
	}

	&__image {
		display: block;
		overflow: hidden;
		height: 100%;
		border-radius: 15px;
		
		img {
			display: block;
			width: 100%;
			height: 100%;
		}
		
		@include media('<=md') {
			border-radius: 8px;
		}
		
		@include media('<=xxs') {
			border-radius: 3px;
		}

		/* &_mobile {
			display: none;
			
			@include media('<=xs') {
				display: block;
			}
		} */
	}
}
